.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

.main button {
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main button:hover {
  background-color: #45a049;
}

.main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.main p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

@media (max-width: 600px) {
  .main {
    padding: 0px;
  }

  .main p {
    font-size: 1.2rem;
  }

  .main button {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
